<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544280382655-189emag3s91rkr2mrg29nj7lk0of28k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544280382655-189emag3s91rkr2mrg29nj7lk0of28k2</string>
	<key>API_KEY</key>
	<string>AIzaSyAJReEFMKbNuBf5kSI1EWxVm8XVsQvVK7M</string>
	<key>GCM_SENDER_ID</key>
	<string>544280382655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firat.HighWaters</string>
	<key>PROJECT_ID</key>
	<string>highwaters-c5a0b</string>
	<key>STORAGE_BUCKET</key>
	<string>highwaters-c5a0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544280382655:ios:72e0a2c13df5cadbd7ca0a</string>
</dict>
</plist>